
.main-section{
  width: 330px;
  position: fixed;
  right:50px;
  bottom:-390px;
}
.first-section:hover{
  cursor: pointer;
}
.open-more{
  bottom:0px;
  transition:1s;
}
.border-chat{
  
}
.first-section{
  opacity: 0.9;
  background: radial-gradient(white, black);
  background-color:#17202A;
}
.first-section p{
  color:#fff;
  margin:0px;
  padding: 10px 0px;
}
.first-section p:hover{
  color:#fff;
  cursor: pointer;
}
.right-first-section{
   text-align: right;
}
.right-first-section i{
  color:#fff;
  font-size: 15px;
  padding: 12px 3px;
}
.right-first-section i:hover{
  color:#fff;
}
.chat-section ul li{
  list-style: none;
  margin-top:10px;
  position: relative;
}
.chat-section{
  overflow-y:scroll;
  height:350px;
}
.chat-section ul{
  padding: 0px;
}
.left-chat img,.right-chat img{
  width:50px;
  height:50px;
  float:left;
  margin:0px 10px;
}
.right-chat img{
  float:right;
}
.second-section{
  padding: 0px;
  margin: 0px;
  background-color: #F3F3F3;
  height: 350px;
}
.left-chat,.right-chat{
  overflow: hidden;
}
.left-chat p,.right-chat p{
  background-color:#2E86C1;
  padding: 10px;
  color:#fff;
  border-radius: 5px; 
  float:left;
  width:65%;
  margin-bottom:20px;
}
.left-chat span,.right-chat span{
  position: absolute;
  left:70px;
  top:60px;
  color:#B7BCC5;
}
.right-chat span{
  left:45px;
}
.right-chat p{
  float:right;
  background-color: #FFFFFF;
  color:#2E86C1;
}
.third-section{
  border-top: 1px solid #EEEEEE;
  
}

.text-bar {
	width:360px;
	position:relative
}
.text-bar .send{
	position:absolute;
	right:22px;
	top:14px;
	
	
}
.text-bar input{
  width:100%;
  margin-left:-14px;
  padding:10px 30px 5px 0px;
  border:1px solid #F3F3F3;
  
}

/*
.text-bar a{
	
}

.text-bar a i{
  float: right;
  
  position: relative;
  z-index: 2;
}
*/
.left-chat:before{
  content: " ";
  position:absolute;
  top:0px;
  left:55px;
  bottom:150px;
  border:15px solid transparent;
  border-top-color:#2E86C1; 
}
.right-chat:before{
  content: " ";
  position:absolute;
  top:0px;
  right:55px;
  bottom:150px;
  border:15px solid transparent;
  border-top-color:#fff; 
}

.container{
	margin-top:80px;
}